#image {
    width: 100%;
    height: 500px;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    background-image: url('https://github.com/ColinJ69/NoNameYet/raw/main/startpage_img.jpg');
    background-size: cover;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    height: 100px
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0,0,4,4);
    border-radius: 15px;
    border-color: white;

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) white;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
#mission {
    position: absolute;
    top: 140%;
    left: 23%;

}
#takeaways {
    height: 200px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07)
    0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, 
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

#article { 
    height: 500px;
    width: 50%;
    float: right;

}
#myDiv {
    display: none;
    position: absolute;
    top: 23.4%;
    left: 0%;
    height: 700px;
    width: 30%;
    text-align: center;
    background-color: white;
    border-color: black
}

#showButton {
    background-color: forestgreen;
    color: antiquewhite;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 8%;
    left: 5%
}

.x:after {
    display: inline-block;
    content: "\00d7";
    background-color: white;
    border-color: white;
}