<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <style>
        a{
            color:black
        }
    </style>
</head>
<body style="background-color: #f9f9f9 ">
    <nav role="navigation" >

        <div id="menuToggle" >

            <input type="checkbox"  />


            <span style="background: #aaaaaa"></span>
            <span style="background: #aaaaaa"></span>
            <span style="background: #aaaaaa"></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <a href="/">
                <li style="color:white">Home</li></a>
                <a href="guides">
                <li style="color:white">Guides</li></a>
                <a href="maps">
                <li style="color:white">Maps</li></a>
                <a href="games">
                <li style="color:white">Quizzes</li></a>
                <a href="action">
                <li style="color:white">Take action</li></a>


        </div>

    </nav>
    <br /><br />

    <div class="action" style="text-align: center">
        <h1 style="position: relative;top:100px; font-size: 6rem">Take action</h1>


        <p style="position: relative; height: 300px; width: 600px; left: 30%; top:150px">Make your voice heard and fight for change in your local community. Message your members of congress and general asssembly, attend community events, and voice your concerns.</p>


    </div>
    <div id="petitions">

        <span id="Comm">
           <br />
            <h1 style=";text-align: center; font-size: 4rem">Comment periods</h1>
            <br /><br />
            <span style="color: black; display: block;width: 100%"><h4 style="position: relative; left:20px;top: 25px">Topic</h4><h5 style="position: relative; left:230px;bottom: 10px">Period ends</h5></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">Permit to White Oak Landfill</h5><p style="height:100%;width:25%">Nov. 22</p><h6 style="height:100%;width:25%;"><a href="https://www.deq.nc.gov/news/events/broad-river-basin-plan-public-comment-period">More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">Broad River Basin Plan</h5><p style="height:100%;width:25%">Nov. 22</p><h6 style="height:100%;width:25%;"><a href="https://www.deq.nc.gov/news/events/broad-river-basin-plan-public-comment-period">More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">Transcontinental Gas Pipe Line Company, LLC - Station 160</h5><p style="height:100%;width:25%">Dec. 2</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">State Guidelines for Land Use Planning</h5><p style="height:100%;width:25%">Nov. 9</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">Final Approval of State Underground Storage Tank Program Revisions</h5><p style="height:100%;width:25%">Oct. 31</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:40%;">The City of Havelock-Havelock Collection System</h5><p style="height:100%;width:25%">Nov. 11</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
        </span>
    </div>
    
    <div id="lawsuits">

        
        <span id="hearings">
            <br />
            <h1 style="text-align:center;font-size:4rem;">Hearings</h1>
            <br /><br />
            <span style="color: black; display: block; width: 100%"><h4 style=" position: relative; left: 20px; top: 25px">Topic</h4><h5 style=" position: relative; left: 270px; bottom: 10px">Date</h5></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:45%;">Preliminary Determination of Air Quality Permit Application for Duke Energy Progress</h5><p style="height:100%;width:25%;">Nov. 22</p><h6 style="height:100%;width:25%;"><a href="https://www.deq.nc.gov/news/events/public-hearing-preliminary-determination-air-quality-permit-application-duke-energy-progress-llc">More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:45%;">Public Hearing - Straw Bales as Sand Fencing</h5><p style="height:100%;width:25%;">Oct. 30</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
            <span class="leaderboardz-item"><h5 style="height: 100%; width:45%;">Vanceboro Quarry discharge permit</h5><p style="height:100%;width:25%;">Nov. 19</p><h6 style="height:100%;width:25%;"><a>More info</a></h6></span>
        </span>
    </div>
    <div id="contact">
        
        <div id="showReps">

            {% if not submitted %}
            <h3 class="act_header" style="text-align: center; position:relative; top:10px;font-family: serif">Tell your representatives to put a stop to the spread of PFAS.</h3>
            <form method="POST">
                {% csrf_token %}

                {{form.as_p}}


                <button class="btn btn-secondary" style=" width: 100%;  border: white;  border-radius: 5px; font-size: 2rem;" type="submit">Tell your Representatives!</button>
            </form>
            {% else %}
            <div class="bg-textz">
                <h2 style="color: white;text-align: center; font-family: niveau-grotesk; font-size: 3rem;">Sent!</h2>
                <h3 style="color:white;text-align: center; font-family: niveau-grotesk; font-size:3rem;">We have sent emails to you representatives in the State Legistlature, however {{congress}} only accepts letters from their website <u><a href='{{link}}'>here</a></u>.</h3>


            <!--<button id="cnpButton" style="border-radius: 20px; background-color: #f7f7f7f7; border-color: black; border-width: 2px; height: 60px; font-size: 30px; z-index:3; opacity:1;font-family: serif; width: 130px; position: relative; left: 875px; top: 360px; " onclick="cnpFunc()">Copy ✂️</button>-->
            {% endif %}
        </div>
    </div><br /><br /><br /><br /><br /><br /><br /><br />
    <input style="display: none" id="email" value='{{email}}'>

    <script>
        function cnpFunc() {
            var copyText = document.getElementById("email");
            copyText.select();
            navigator.clipboard.writeText(copyText.value);


            alert("Copied the text: " + copyText.value);

        }


        function showContact() {



            document.querySelector('#showReps').style.display = 'block';
            document.querySelector('#gyatt').style.display = 'none';

        }
        function end() {
            document.querySelector('#showReps').style.display = 'none';
        }
        function openComm() {
            var i = document.querySelector('#Comm')
            var j = document.querySelector('#cock')
            if (i.style.display == 'none') {
                i.style.display = 'block';
                j.style.display = 'none';
            }
            else {
                i.style.display = 'none';
                j.style.display = 'block';
            }
        }
        function openHear() {
            var i = document.querySelector('#hearings')
            var j = document.querySelector('#balls')
            if (i.style.display == 'none') {
                i.style.display = 'block';
                j.style.display = 'none';
            }
            else {
                i.style.display = 'none';
                j.style.display = 'block';
            }
        }
    </script>
</body>
</html>
