<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Balls</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script>

    </script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .registery {
            text-align: center;
            position: absolute;
          
            height: 600px;
            width: 500px;
            top: 20%;
            left: 35%;
            background-color: white;
            border-radius: 25px;
            z-index: 2;
            padding: 50px;
            border: 2px solid black;
        }
    </style>
</head>

<body style="background-color:#2F2F2F; width:100%;height:100%:">
    <nav role="navigation">

        <div id="menuToggle">

            <input type="checkbox" />


            <span style="background: black;"></span>
            <span style="background: black;"></span>
            <span style="background: black;"></span>


            <ul id="menu" style="background: white; color:#2F2F2F;">
                <a href="/">
                <li>Home</li></a>
                <a href="guides">
                <li>Guides</li></a>
                <a href="maps">
                <li>Maps</li></a>
                <a href="games">
                <li>Quizzes</li></a>
                <a href="action">
                <li>Take action</li></a>
                <a href="news">
                <li>News</li></a>



        </div>

    </nav>
    
    <div class="registery">
        <p style="font-size:2rem;">Create account</p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-secondary" style="width: 397.5px; border-radius: 5px; height: 35px; border: 2px solid rgba(0, 0, 0, 0.1);" name="userReg" type="submit">Submit</button>
            <br /><br />
            <p style="float:left;">Already have an account? <a style="color:dodgerblue;cursor:pointer;" href="logins">Login here</a></p>
            <p style="float:left;">Forgot password? <a style="color:dodgerblue" href="password_reset">Click here</a></p>
        </form>
    </div>
</body>
</html>
