<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>

</head>
<body style="background-color: #1b2329; ">

    <nav role="navigation">
       
        <div id="menuToggle">

            <input type="checkbox" />


            <span></span>
            <span></span>
            <span></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <a href="/">
                <li style="color:white">Home</li></a>
                <a href="guides">
                <li style="color:white">Guides</li></a>
                <a href="maps">
                <li style="color:white">Maps</li></a>
                <a href="games">
                <li style="color:white">Quizzes</li></a>
                <a href="action">
                <li style="color:white">Take action</li></a>


        </div>
        <h2 id="pointss" style="position: absolute;color: white; right: 20%; top:2%;">{{points}} points</h2>
    </nav>
        

    
    <h2 style="position: absolute; right: 10%; top: 2%; color: white">Donate</h2>
    <span onclick="showStore()" style="color: white;" class="arrow"></span>


    <br /><br /><h1 style="text-align: center; position: relative; right: 300px; color:white; font-family: serif; font-size: 120px">Quizzes</h1><br /><br />
    <label id="time"></label><br />

    <div id="question_divy" style="position: relative; left: 30px; box-shadow: 0 5px 15px rgba(0.3, 0.3, 0.3, 0.3);">

        <h2 id="question" style="position: relative; left: 45px"></h2>
        <form id="formA">
            <ol style="font-size: 25px; float: left">
                <li><input value="1" name="q" type="radio"><label id="1"></label></li>
                <li><input value="2" name="q" type="radio" /><label id="2"></label></li>
                <li><input value="3" name="q" type="radio" /><label id="3"></label></li>
                <li><input value="4" name="q" type="radio" /><label id="4"></label></li>
            </ol>

        </form>
        <span>

        </span>


    </div><br /><br /><br />
    <label style="font-size: 30px; font-family: serif; position: absolute; top: 37.2%; left: 55%" id='isCorrect'></label>
    <div id="store">
        <span style="width: 30%; height: 100%; float: left;">
            <h2 style="position: relative; text-align: center; font-family: Book Antiqua; font-size: 5rem; top: 16%; left: 25px">Donate</h2>
            <button style="position: absolute; left:110px;top:130px;height:50px;width:120px;" onclick="donate()">Give</button>
        </span>
        <span id="don">
            <h3 style="position: relative; color: white; font-family: Book Antiqua; font-size:2.5rem; top: 10px; left: 40px">1000 points for 1$!</h3><br /><h6 style="color: white;font-family: Book Antiqua; font-size:1.5rem;width:300px; position: relative; left: 230px">Money will go towards local cleanup & remediation causes in NC</h6><br />
            
            
        </span>
    </div>
    <section class="container" id="leaderboards">

        <h2 style="text-align: center">
            🏆Leaderboard🏆
        </h2>
        {% for name, score, rank in top_scores %}
        <div class="leaderboard-item">
            <div class="rank">
                {{rank}}
            </div>
            <div class="name">
                {{name}}
            </div>
            <div class="score">
                {{score}}
            </div>
        </div>
        {% endfor %}


    </section>

    <br /><br /><br />
    <script>
        const questions = [
            {
                'Question': 'What are PFAS?', 'Ans_Choices': ['Naturally occuring chemicals found in the environment.', 'A group of man-made chemicals used in various industrial and consumer product',
                    'A type of bacteria found in contaminated water', 'A class of vitamins essential for human health.'], 'Correct_Ans': '2'
            },
            {
                'Question': 'Why are PFAS called forever chemicals?', 'Ans_Choices': ['They are essential for human health and must be consumed regularly.',
                    'They break down quickly in the environment.', 'They persist in the environment and human body for a very long time', 'They are used in product that last forever.'],
                'Correct_Ans': '3'
            },
            {
                'Question': 'How can PFAS enter the human body?', 'Ans_Choices': ['Through direct skin contact only', 'By inhaling air in urban areas.',
                    'Through contaminated water, food, and consumer products.', 'By touching contaminated surfaces.'],
                'Correct_Ans': '3'

            },
            {
                'Question': 'What action is the EPA taking about PFAS?', 'Ans_Choices': ['Banning all PFAS-containing products', 'Setting maximum comtaminant levels in water',
                    'Promoting the use of PFAS in industrial activities', 'Ignoring PFAS contamination'], 'Correct_Ans': '2'
            },
            {
                'Question': 'What health issue has been linked to long-term PFAS exposure?', 'Ans_Choices': ['Increased cholesterol levels', 'Decreased blood sugar', 'Improved liver function', 'Enhanced immune response'],
                'Correct_Ans': '1'
            }

        ]
        var q = document.getElementById('question');
        var ans1 = document.getElementById('1');
        var ans2 = document.getElementById('2');
        var ans3 = document.getElementById('3');
        var ans4 = document.getElementById('4');
        var Correct_Ans;
        class WeightedRandomPicker {
            constructor(arr) {
                this.arr = arr;
                this.weights = new Array(arr.length).fill(1);
            }

            pick() {
                const totalWeight = this.weights.reduce((acc, weight) => acc + weight, 0);
                let random = Math.random() * totalWeight;

                for (let i = 0; i < this.weights.length; i++) {
                    if (random < this.weights[i]) {
                        this.weights[i] *= 0.5;
                        return this.arr[i];
                    }
                    random -= this.weights[i];
                }
            }
        }




        function getQuestionInformation() {
            const picked_question = new WeightedRandomPicker([0, 1, 2, 3, 4]);
            var picker = picked_question.pick();
            q.textContent = questions[picker]['Question'];
            ans1.innerText = questions[picker]['Ans_Choices'][0];
            ans2.innerText = questions[picker]['Ans_Choices'][1];
            ans3.innerText = questions[picker]['Ans_Choices'][2];
            ans4.innerText = questions[picker]['Ans_Choices'][3];
            Correct_Ans = questions[picker]['Correct_Ans'];
            ans1.style.color = 'black';
            ans2.style.color = 'black';
            ans3.style.color = 'black';
            ans4.style.color = 'black';
            isCorrect.textContent = '';

        }


        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {
                const picked_question = new WeightedRandomPicker([0, 1, 2]);
                var picker = picked_question.pick();
                q.textContent = questions[picker]['Question'];
                ans1.innerText = questions[picker]['Ans_Choices'][0];
                ans2.innerText = questions[picker]['Ans_Choices'][1];
                ans3.innerText = questions[picker]['Ans_Choices'][2];
                ans4.innerText = questions[picker]['Ans_Choices'][3];
                document.getElementById('3').style.color = 'black';
                ans2.style.color = 'black';
                ans3.style.color = 'black';
                ans4.style.color = 'black';
                document.getElementById('isCorrect').innerText = '';
                ans3.checked = false;
                Correct_Ans = questions[picker]['Correct_Ans'];

            });
        });








        var radios = document.forms["formA"].elements["q"];
        var isCorrect = document.getElementById('isCorrect')
        var correct = document.getElementById(Correct_Ans)
        for (var i = 0, max = radios.length; i < max; i++) {
            radios[i].onclick = function () {
                var ans = document.getElementById(this.value);
                if (this.value == Correct_Ans) {


                    ans.style.color = 'green';
                    isCorrect.textContent = 'Correct';
                    isCorrect.style.color = 'green';
                    var npoints = document.querySelector('#pointss').textContent
                    var points = Number(npoints.replace(/\D/g, ''));
                    document.querySelector('#pointss').textContent = `${points + 10} points`
                    submitFormData();
                    setTimeout(getQuestionInformation, 3000);

                    document.getElementById('points').value = Number(document.getElementById('points').value.trim()) + 10
                    if (document.getElementById('points').value == 'NaN') {


                        document.getElementById('points').value = 10;

                    }




                } else {

                    ans.style.color = 'red';
                    isCorrect.textContent = 'Incorrect';
                    isCorrect.style.color = 'red';
                    correct.style.color = 'green';
                    startTimer();
                }


            }
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var isd = document.cookie
        var dsd = isd.slice(10)

        const csrftoken = getCookie('csrf_token')

        function submitFormData() {
            const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';

            let sent_data = { 'points': 10 }
            const API_URL = BASE_URL + "/add_points";

            const request = new Request(
                API_URL,
                { headers: { 'X-CSRFToken': csrftoken } }
            );

            return fetch(request, {
                method: 'POST',
                mode: 'same-origin',
                body: JSON.stringify(sent_data)
            })
                .then(response => response.json())
                .then(response => {
                    data = response['time']; return data;
                });
        }

        function showStore() {
            var x = document.querySelector("#store");
            
            if (x.style.display === "none") {
                
                document.querySelector("#store").style.display = "block";

            } else {
                document.querySelector("#store").style.display = "block";
          
            }
        }

        function donate() {
            var npoints = document.querySelector('#pointss').textContent
            var points = Number(npoints.replace(/\D/g, ''));

            if (points > 999) {
                document.querySelector('#pointss').textContent = `${points - 1000} points`
                document.querySelector('#message').textContent = 'Success'
                const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';



                let sent_data = JSON.stringify({ 'points': 10 })
                const API_URL = BASE_URL + "donate";

                const request = new Request(
                    API_URL,
                    {
                        headers: {
                            'X-CSRFToken': dsd,
                            'Content-Type': 'application/json'
                        }
                    }

                );

                return fetch(request, {
                    method: 'POST',
                    mode: 'same-origin',
                    body: sent_data
                })

            }
            else {
                document.querySelector('#message').textContent = 'Insufficient Points!'
            }
        }


    </script>
</body>
</html>
