
<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NC Water Watch</title>
    <link id="sheet-theme" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script>
        
    </script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
</head>
<body style="background-color: #f7f7f7f7">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-custom" style="background-color:#255db1">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand" href="/">
                            <img src="https://github.com/ColinJ69/NC-Water-Watch/raw/main/Logo.png" alt="Logo" width="85" height="30">
                        </a>
                    </li>
                    <li class="nav-item">
                        <h4><a class="nav-link" href='/maps'>Maps</a></h4>
                    </li>
                    <li class="nav-item">
                        <h4><a class="nav-link" href='/games'>Quizzes</a></h4>
                    </li>
                    <li class="nav-item">
                        <h4><a class="nav-link" href='/action'>Take Action</a></h4>
                    </li>

                </ul>

            </div>

</nav>
    <div id="image"></div>
    <div id="below">
        <div class="bg-text" style="position: absolute; top: 15%">
            <div>
                <h2>Our Mission</h2><br /><h4>To make sure everyone in North Carolina and beyond has access to clean and safe water free from PFAS, GenX and other dangerous chemicals that are so prevelant in todays society.</h4>
                <span style="text-align: center"></span>
            </div>



        </div>
        <br /><br /><br /><br />
        <div style="text-align: center; font-family: serif; width: 100%">
            <span style="font-family: serif;"><h1 style="font-size: 75px">What are PFAS?</h1><br /><h3>(And why should I care?)</h3></span><br><br>
            <div id="takeaways">
                <h3>Summary</h3><ol>
                    <li>PFAS are chemicals that take a long time or never break down in the environment.</li>
                    <li>PFAS pose various health risks including: reproductive and delevelopmental issues in children of effected; weakening of immune system; thyroid disease; and cancer.</li>
                    <li>There are thousands of types of PFAS, each break down in a different difficult way.</li>
                </ol><br /><br /><br />
                <img id="waterimg" src="https://github.com/ColinJ69/NoNameYet/raw/main/waterimg.jpg" />
            </div>

        </div>
        <div id="article">
            <h4 style="letter-spacing: 2px">

                PFAS are a class of synthetic chemicals that have been used in various industrial and consumer products since the mid-20th century. They’re known for their remarkable resistance to heat, water, and oil, which makes them useful in applications like nonstick cookware, stain-resistant fabrics, firefighting foam, and even food packaging.
                The chemical structure of PFAS includes a chain of carbon atoms bonded to fluorine atoms, resulting in strong carbon-fluorine bonds. This stability is both a blessing and a curse: it means PFAS persist in the environment for a very long time (hence the nickname “forever chemicals”), but it also makes them challenging to break down naturally.
                Common types of PFAS include perfluorooctanoic acid (PFOA) and perfluorooctyl sulfonate (PFOS). These compounds have been detected in soil, water, air, and even in the blood of humans and wildlife. Exposure to PFAS has been linked to a range of health problems. These chemicals can accumulate in the body over time, leading to adverse effects.
                Research suggests that PFAS exposure can weaken the immune system, making individuals more susceptible to infections and diseases. Some studies associate PFAS exposure with an increased risk of certain cancers, including kidney, testicular, and thyroid cancers. Pregnant women exposed to PFAS may give birth to babies with lower birth weights. Additionally, PFAS exposure during childhood can impact growth and development.
            </h4>
        </div>
    </div>
</body>
</html>