<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NC Water Watch</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function toggle() {
            var div = document.getElementById("informDiv");
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        };
    </script>
</head>
<body style="font-family: Book Antiqua">
    <nav role="navigation">
    
        <div id="menuToggle">

            <input type="checkbox" />


            <span style="background: #aaaaaa;"></span>
            <span  style="background: #aaaaaa;"></span>
            <span style="background: #aaaaaa"></span>


            <ul id="menu" style="background: #2F2F2F; color:white;">
                <a href="/">
                <li style="color:white">Home</li></a>
                <a href="guides">
                <li style="color:white">Guides</li></a>
                <a href="maps">
                <li style="color:white">Maps</li></a>
                <a href="games">
                <li style="color:white">Quizzes</li></a>
                <a href="action">
                <li style="color:white">Take action</li></a>


        </div>

    </nav>
    <span style="height:90px; float: left; width:100%;">
        <h3 id="titlex" style="font-size: 55px; font-family: serif; position: relative; top: 5%; text-align: center">Spread of PFAS across public NC water systems</h3><span style="margin-right:50px; " class="arrows" onclick="private()"></span><button onclick="toggle()" id="showButton">Info</button><span onclick="testing()" id="arrow"class="arrow"></span>

    </span>
    
    <div><div style="font-family: Book Antiqua; border-width: 2px; border-radius: 45px;" id="informDiv"><div id="info"><h1 style="font-family: serif;font-size: 32px;margin-top:6px">Info about map</h1><br /><br />
        <h5 style="font-family:Book Antiqua">These 300+ water sources across North Carolina effect a total population of over 7 million people, of which machine learning(ML) models have predicted that 4 million of those people are exposed to 1-6 of the tested PFAS and/or GenX chemicals at dangerous thresholds.</h5><a  class="sx" onclick="toggle()"></a><div>
    <br /><br /><br /><h2 style="position: relative; left:4px">🔴= Polluted</h2>
    <h2 style="position: relative; left:30px;">🟢= Not polluted</h2><br /><br />
        <h3>Your water source not included?</h3>
        

    <button style="border-radius:5px;background-color:white; height: 50px;"onclick="testing()"><b>Find out here</b></button>
</div>
    
</div><div id="testingDiv">
    <br /><br /><h2 style="font-size: 3rem; font-family: serif">Test your own well for PFAS</h2>
    <a class="sx" onclick="testing()"></a><br /><br />
    <input id="add" placeholder="Address/Coordinates" class="inputs" name="add" type="text" /><br /><br />
    <input id="depth" placeholder="Well Depth(0 for surface water)" class="inputs" name="depth" type="text" /><br /><br />
    <button class="inputs" id ="butt"onclick="test()">Test</button>
    <label id="points">{{points}}</label>
    <label id="balls"></label>
</div></div><iframe src="https://snazzymaps.com/embed/636654" class="public" style="height:800px; float: left;width: 100%"></iframe><iframe src="https://snazzymaps.com/embed/652853" class="private" width="100%" height="800px" style="border:none;"></iframe></div>
    
    <script>
        function private() {
            var i = document.querySelector('.public');
            var j = document.querySelector('.private');
            if (i.style.display != 'none') {
                i.style.display = 'none'
                j.style.display = 'block'
                document.querySelector('#titlex').textContent = 'Spread of PFAS across private NC water systems';

            }
            else {
                j.style.display = 'none'
                i.style.display = 'block'
                document.querySelector('#titlex').textContent = 'Spread of PFAS across public NC water systems';
            }
        }
        function testing() {
            var i = document.querySelector('#info');
            var j  = document.querySelector('#testingDiv')
            if (i.style.display != 'none') {
                i.style.display = 'none'
                j.style.display = 'block'
            }
            else {
                j.style.display = 'none'
                i.style.display = 'block'
            }
        }
        
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const BASE_URL = '{{ request.scheme }}://{{ request.get_host }}/';
        const csrftoken = getCookie('csrf_token')
        var isd = document.cookie
        var dsd = isd.slice(10)
        function syn(x) {
            var i = document.querySelector('#balls');
            console.log('connected')
            if (x=='1') {
                i.innerHTML = '<h3>Your well is likely polluted from PFAS, see what can cause this and what you can do <a href="/guides">here</a>.</h3>'
            }
            else {
                i.textContent = '<h3>Your well is most likely not polluted from PFAS</h3>'
            }
        }
        function test() {
            
                let sent_data = { 'add': document.querySelector('#add').value, 'depth': document.querySelector('#depth').value }
                const API_URL = BASE_URL + "synthesize";

                const request = new Request(
                    API_URL,
                    {
                        headers: {
                            'X-CSRFToken': dsd,
                            'Content-Type': 'application/json'
                        }
                    }
                );

                return fetch(request, {
                    method: 'POST',
                    mode: 'same-origin',
                    body: JSON.stringify(sent_data)
                })
                    .then(response => response.json())
                    .then(data => {
                        syn(JSON.stringify(data))
                    });
            }
            
        

    </script>
</body>
</html>
